:root {
  --golden: goldenrod;
  --black: rgb(58, 55, 55);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

.navbar {
  width: 100%;
  height: 120px;
  background-color: rgb(58, 55, 55);
  padding: 10px;
}

.navbar--main--container {
  border: 1px solid red;
  height: 100px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container--name {
  color: white;
  margin: 0;
  margin-bottom: 10px;
}

.search--input {
  padding-left: 25px;
  background-image: url(/IMG/search.svg);
  background-repeat: no-repeat;
}
