@media screen and (min-width: 768px) {
  .navbar--main--container {
    flex-direction: row;
    justify-content: space-between;
    width: 750px;
  }

  .main--content {
    height: 1090px;
  }

  .bg--white--line {
    height: 465px;
    top: 730px;
  }

  .content--first-container--imgs {
    width: 750px;
    top: 275px;
  }

  .img {
    width: 150px;
    height: 150px;
  }

  .content--second-name--golden {
    top: 245px;
  }

  .content--paragraph {
    width: 750px;
    top: 235px;
  }

  .content--second-container--grid {
    width: 750px;
    height: 210px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "img-amber about-1 img-billie about-2";
    top: 235px;
  }

  .img-amber {
    grid-area: img-amber;
  }

  .about-1 {
    grid-area: about-1;
    justify-self: left;
    margin-top: 75px;
  }

  .img-billie {
    grid-area: img-billie;
  }

  .about-2 {
    grid-area: about-2;
    justify-self: left;
    margin-top: 75px;
  }

  .footer {
    height: 170px;
  }

  .main--footer-container {
    width: 750px;
    height: 170px;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .navbar--main--container {
    width: 900px;
  }

  .main--content {
    height: 1250px;
  }

  .bg--white--line {
    height: 495px;
    top: 860px;
  }

  .content--name {
    padding-top: 380px;
  }

  .content--first-container--imgs {
    width: 900px;
    top: 220px;
  }

  .img {
    width: 170px;
    height: 170px;
    top: 124px;
  }

  .content--second-name--golden {
    top: 215px;
  }

  .content--paragraph {
    width: 900px;
    top: 210px;
  }

  .content--second-container--grid {
    width: 900px;
    top: 225px;
  }

  .main--footer-container {
    width: 900px;
  }
}
